body {
  min-height: 100vh;
  background-color: #d299d2;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.formContainer {
  padding: 2em;
  max-width: 500px;
  margin: 0 auto;
}

#cardContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 300px));
  grid-gap: 2em;
  padding: 2em;
  justify-content: center;
}

@media (min-width: 720px) {
  #cardContainer {
    grid-template-columns: repeat(2, minmax(100px, 300px));
  }
}

@media (min-width: 960px) {
  #cardContainer {
    grid-template-columns: repeat(3, minmax(100px, 300px));
  }
}
